*{
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
}
nav{
    z-index: 9;
}
.card{
    max-width: 18rem;
    border-radius: 0 !important;
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 5px !important;
}
.cardCustom{
    background-color: rgb(47, 47, 47) !important;
}
.cardImgBox{
    height: 410px;
    overflow: hidden;
}
.cardImg{
    width: 100%;
    height: auto;
}
.card h5{
    height: 30px;
}
#modale{
    height: 80vh;
    width: 80vw;
    margin: 5% 10%;
    background-color: rgba(255, 255, 255, 0.901) !important;
    z-index: 99;
    border-radius: 10px;
    border: solid 1px rgb(199, 199, 199);
    box-shadow: 10px 10px 90px rgb(233, 233, 233);
    padding: 20px !important;
    gap: 10px !important;
}
#modaleContents{
    z-index: 100;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#modaleTotPrice{
    z-index: 109;
    height: 8%;
    bottom: 0;
    font-size: 35px;
}
.removeBtnCustom{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    font-size: 30px;
}
.orizCard{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
/* selection card transition */
.selectedCard{
    transform: scale(.97);
    transition: transform .2s ease-in-out;
}

/* detail card info */
.detailRowBox{
    z-index: 110;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    margin: 3% 10%;
    box-shadow: 10px 10px 90px rgb(236, 236, 236);
    border: solid 1px rgb(213, 213, 213);
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
